*,
*::after,
*::before{
    box-sizing: border-box;
}


body{
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

}

img{
    width: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/*tipografia*/

.logo,
.main-title{
    font-weight: 700;
    font-size:2.5rem;
    margin: 0;
}

.main-subtitle{
    font-size: 1rem;
    opacity: 73%;
}

.main-link{
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: .8em 1.5em;
    border-radius: 10px;
}

.main-img{
    content: url("images/image-hero-mobile.png");
}


/*layout NAV*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-company,
.nav-open{
    padding:1.2rem
}

.logo-company{
    font-size: 2.3rem;
    font-weight: 900;
    margin: 0;
}

.nav-open{
    z-index: 1000;
    height: fit-content;
    cursor: pointer;
    background: transparent;
    border: none;
}

nav{
    padding-top: 4em;
    padding-left: 1em;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 40%;
    z-index: 100;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

nav a,
.nav-login,
.nav-register{
    color: rgba(0, 0, 0, 0.6);
}


.nav-list-btn{
    font-size: 1.2rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'Epilogue', sans-serif;
}

.careers,
.about,
.nav-list-btn{
    padding: .4em 0;
    margin-bottom: .5em;
}

.nav-list-btn i{
    margin-left: .5em;
}

.links{
    display: none;
    padding: 0 1em;
    margin: 0;
}



.links li{
    list-style: none;
    text-align: left;
    margin: 1em 0;
}

.links li:first-child{
    margin-top: 0;
}

.links li:last-child{
    margin-bottom: .5em;
}


.link-icon{
    width: fit-content;
    margin-right: .5em;
}


/*Button in nav*/

.nav-login,
.nav-register{
    font-family: 'Epilogue', sans-serif;
    margin-top: 2em;
    padding: .8em 0;
    width: 80%;
    border-radius: 10px;
    border: 2px solid;
    background-color:#fff;
    cursor: pointer;
}

nav a:hover,
nav a:active,
.nav-login:hover,
.nav-register:hover{
    color: rgba(0, 0, 0, 1);
}

.nav-register:hover,
.nav-register:active{
    border-color: #000;
}

.nav-login{
    border-color: transparent;
}

.nav-register{
    margin-top: 1em;
    border-color: darkgray;
}

/*Stilyng the main content*/

main{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{

    font-size: 2.1rem;
    margin-top: 1em;
}

.main-subtitle{
    width: 90%;
    font-size: 1.1rem;
}

.main-link{
    margin-top: 1em;
}

.main-link:hover,
.main-link:active{
    background-color: #fff;
    color:#000;
    border: 1px solid #000;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-clients{
    padding-top: 2.5em;
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.client{
    width: 20%;
    height: 100%;
}

@media (min-width:650px){

    main{
        margin:0 auto;
        width: 90vw;
        max-width: 1200px;
        display: grid;
        grid-template-columns: minmax(min-content, 50%) minmax(45%, 50%);
        grid-template-rows:100px 100px 50px 200px ;
        text-align: left;
        grid-template-areas:
        "title img"
        "subtitle img"
        "link img"
        "footer footer"   
    }

    .main-title{
        grid-area: title;
        font-size: 3.5vw;
        margin-top: 0;
        align-self: flex-end;
    }

    .main-title span::after{
        content: "\a";
        white-space: pre;
    }
    .main-subtitle{
        grid-area: subtitle;
        font-size: 1.5vw;
    }
    .main-link{
        width: fit-content;
        font-size: 1.5vw;
        grid-area: link;
        align-self: flex-start;
    }
    footer{
        grid-area: footer;
    }

    .footer-clients{
        padding: 0;
    }
    
    
    .main-img{ 
        grid-area: img;
    }


    nav{
        left: 70%;
    }
}



@media (min-width:850px){
       
    header{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }


    nav{
        font-size: 1rem;
        padding: 1.2rem;
        width: 85%;
        position: static;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        transform: translateX(0%);
    }

    .nav-open{
        display: none;
    }

    .nav-list-btn,
    .careers,
    .about{
        margin-right: 2em;
        margin-bottom: 0;
    }

    .nav-list-btn{
        display: flex;
    }




    .auth{
        display: flex;
        margin-left: auto;
    }

    .nav-register,
    .nav-login{
        width: 100px;
        margin-top: 0;
        font-size: 1rem;
    }

    main{
        margin:auto;
        height: 80vh;
        grid-template-columns: minmax(min-content, 50%) minmax(45%, 50%);
        text-align: left;
        grid-template-areas:
        ".. img"
        "title img"
        "title img"
        "subtitle img"
        "link img"
        "footer img";
    }

    .main-title{grid-area: title;}
    .main-subtitle{
        margin: 0;
        grid-area: subtitle;
    }
    .main-link{
        margin: 0;
        grid-area: link;
    }
    footer{grid-area: footer;}
    
    
    .main-img{
        grid-area: img;
        content: url("images/image-hero-desktop.png");
    }

}